body {
  font-family: 'Roboto' , sans-serif;
  background-image: url('fundo.jpg');
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%; !important!;
  max-width: 800px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  box-sizing: border-box;
}
.container ul{
  list-style-type: none; /* remove o marcador*/
  padding-left: 0; /*remove o recuo*/
}

.container li {
  position: relative; /*necessário para o ícone funcionar*/
  margin-bottom: 8px; /*espaçamento ver entre os itens*/
  padding-left: 28px; /*cria espaço à esquerda para o ícone*/ 
}

.container li::before{
  content: '✓'; 
  position: absolute; /* posiciona o icone*/
  left: 0;
  top: 0;
  color:#007bff; /*cor azul tech*/
  font-weight: bold;
  font-size: 1.2em; /* tamanho do icone*/
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  margin-bottom: 5px;
}

section {
  margin-bottom: 25px;
}

h2 {
  color: #000000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}


button{
    background: #0055aa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-content: center;

}

button:hover {
    background: #2583e8;
}
#botao {
  padding: 20px;

}

#botao h2 {
  margin-bottom: 10px;
}

/* Cria um contêiner flex só para os botões */
#botao-buttons {
  display: flex;
    justify-content: space-evenly;
  flex-wrap: nowrap; /*não permite que quebrem linha em telas pequenas */
  gap: 2px;
}
#botao-buttons button {
  flex: 1; /*esta é a mágica */
}

/* Estilo dos botões */
#botao button {
  padding: 5px 4px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-image: url(fundo.jpg);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

#botao button:hover {
  background-image: url(fundo.jpg);
  filter: brightness(50%);
}

/* Adiciona um espaço (respiro) entre as seções do currículo */
.container section + section {
    margin-top: 35px; /* Altere este valor se quiser mais ou menos espaço */
}
#titulo-ads{
  font-size: 1.1rem !important;
}
#me{
  text-align: justify;
}



/* --- APAGUE ESTE CÓDIGO DEPOIS --- 
* {
    border: 1px solid red !important;
}
*/

/* Garante que o conteúdo dos cards não vaze horizontalmente */
.card-body {
    overflow-x: hidden;
    word-wrap: break-word;
}




